/** Add a comment at the beginning of your CSS styles with your name **/

h1{
	text-align: left;
	font-size: 25px;
	color:maroon;
}

h4{
	text-align: left;
	font-size: 18px;
	color:black;
}
p{
	padding-left: 8px;
}

.legal{
	text-align: center;
	padding-top: 200px;
}
a{
	text-align: right;
}
/**End Abi's Styles **/
